.Card
  width: 32%
  margin-bottom: 15px
  box-shadow: 2px 2px 5px 0 #2e2e2e
  padding: 10px
  background-color: #e2e2e2

.CardInfo
  display: flex
  justify-content: space-between

.CardNumber
  color: #339999

.CardAttributes
  margin: 10px
  padding: 10px
  border-top: 1px solid #2e2e2e
  border-bottom: 1px solid #2e2e2e

.ItemList
  list-style-type: none
  &>li
    margin-bottom: 10px