.Card
  width: 100%
  margin-bottom: 15px
  padding: 10px
  box-shadow: 2px 2px 5px 0 #2e2e2e
  background-color: #e2e2e2

.CardInfo
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #2e2e2e

.CardNumber
  color: #339999

.CardAttributes
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  width: 50%
  list-style-type: none
  &>li
    width: 33%
    margin-bottom: 10px

.CardDescriptions
  padding-top: 10px