.FilterGroup
  display: flex
  align-items: center

.Btn
  display: flex
  justify-content: center
  align-items: center
  width: 30px
  height: 30px
  margin-left: 10px
  border: none
  outline: none
  background-color: transparent
  cursor: pointer
  &:hover
    background-color: lighten(#339999, 15%)
  &.BtnActive
    background-color: #339999