*
    box-sizing: border-box
    margin: 0
    padding: 0

.App
    width: 1200px
    margin: 15px auto
    padding: 0 15px

.BtnGroup
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.Btn
    width: 570px
    margin: 5px
    padding: 5px 15px
    border: none
    outline: none
    text-transform: uppercase
    color: #fff
    background-color: #339999
    cursor: pointer
    &:hover
        background-color: lighten(#339999, 5%)
    &:active
        background-color: darken(#339999, 5%)

.Filters
    display: flex
    justify-content: space-between
    align-items: center
    margin: 20px 0
    padding: 10px 0
    border-top: 1px solid grey
    border-bottom: 1px solid grey

.List
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.Form
    border-top: 1px solid #2e2e2e
    padding-top: 30px

.FormTitle
    margin-bottom: 15px

