.Label
  color: #339999

.Field
  width: 100%
  padding: 10px
  margin-bottom: 20px

.Btn
  margin: 5px
  padding: 5px 15px
  border: none
  outline: none
  text-transform: uppercase
  color: #fff
  background-color: #339999
  cursor: pointer
  &:hover
    background-color: lighten(#339999, 5%)
  &:active
    background-color: darken(#339999, 5%)